@page "/"
@rendermode InteractiveServer

@using System.Text

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<div>
    Welcome to your new app.
    Test communication to Testservice:
</div>

<input type="text" @bind="Name" />
<button class="btn btn-primary" @onclick="SendAPI">Fetch Data</button>

<div>@ApiResponse.responseBack</div>

@code {
    private string Name { get; set; } = string.Empty;
    private APIResponse ApiResponse { get; set; } = new APIResponse();

    private async Task SendAPI()
    {
        using (HttpClient httpClient = new HttpClient())
        {
            string jsonContent = "{\"name\": \"" + Name + "\"}";
            var content = new StringContent(jsonContent, Encoding.UTF8, "application/json");
            try
            {
                var response = await httpClient.PostAsync("http://localhost:8080/api/hello", content);

                if (response.IsSuccessStatusCode)
                {
                    var jsonResult = await response.Content.ReadAsStringAsync();
                    ApiResponse = System.Text.Json.JsonSerializer.Deserialize<APIResponse>(jsonResult) ?? new APIResponse();
                }
                else
                {
                    ApiResponse.responseBack = "Error fetching data.";
                }
            }
            catch
            {
                ApiResponse.responseBack = "Error fetching data.";
            }
        }
    }

    private class APIResponse
    {
        public string responseBack { get; set; } = string.Empty;
    }
}
